---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"


const PROJECTS = [
  {
    title: "Registro de Gastos",
    description:
      "Desarrollé una aplicación web interactiva para el registro y control de gastos personales. Permite al usuario ingresar transacciones, clasificarlas como ingresos o egresos y visualizar su saldo actualizado en tiempo real.",
    link: "https://expense-traker-murex.vercel.app/",
    github: "https://github.com/JuanMata5/ExpenseTraker.git",
    image: "/projects/expense_tracker.webp",
  },
  {
    title: "Juego del ahorcado en Java",
    description:
      "Un clásico juego de palabras donde el objetivo es adivinar una palabra secreta letra por letra. Este proyecto implementa el juego de Ahorcados en Java, utilizando la consola para interactuar con el jugador. La palabra secreta es fija, pero el juego permite la entrada de letras y la adivinanza de la palabra completa. ",
    github: "https://github.com/JuanMata5/juego-ahorcado-java.git",
    image: "/projects/ahorcados_java_readme.webp",

  },
  {
    title: "Shoes Store",
    description:
      "Este proyecto consiste en una tienda online especializada en la venta de zapatillas Nike originales. El sitio fue diseñado y desarrollado para ofrecer una experiencia de compra sencilla, rápida y segura, con un diseño moderno y adaptado a dispositivos móviles.",
    link: "https://integradorjs-kohl.vercel.app/",
    github: "https://github.com/JuanMata5/INTEGRADORJS.git",
    image: "/projects/shoes_store_landing.webp",

  },
  {
    title: "Buscador de peliculas",
    description:
      "Este proyecto fue diseñado para ofrecer a los usuarios una experiencia fluida y atractiva al explorar y descubrir películas. La aplicación permite buscar títulos específicos, explorar géneros y acceder a información detallada sobre cada película, todo en una interfaz moderna y responsiva.",
     link: "https://movie-app-indol-two.vercel.app/",
      github: "https://github.com/JuanMata5/MovieApp.git",
    image: "/projects/movie_search_image.webp",

  },
  {
    title: "Conferencia BsAs",
    description:
      "Este proyecto es una aplicación web desarrollada como parte del programa Codo a Codo, diseñada para gestionar información y la compra de tickets para una conferencia internacional en Buenos Aires.",
     link: "https://codo-acodo-js.vercel.app/",
      github: "https://github.com/JuanMata5/codoAcodo-JS.git",
    image: "/projects/confbs.jpeg",

  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
   

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4 chil" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



